annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
cffi==2.0.0
click==8.1.8
cryptography==46.0.3
fastapi==0.115.12
greenlet==3.2.4
h11==0.16.0
idna==3.10
pycparser==2.23
pydantic==2.10.6
pydantic_core==2.27.2
PyMySQL==1.1.1
SQLAlchemy==2.0.41
starlette==0.46.2
typing-inspection==0.4.1
typing_extensions==4.13.2
uvicorn==0.34.3
python-dotenv
